@{
    ViewBag.Title = "Home Page";
}

<style>
    table, th, td {
        border: 1px solid black;
        padding: 15px;
    }

    thead {
        background-color: skyblue;
        color: white;
    }
</style>
<table>
    <tr>
        <td>Populating With Hardcoded Data</td>
        <td>
            @Html.DropDownList("MySkills", new List<SelectListItem>()
       {
           new SelectListItem{Text="Asp.Net",Value="1"},
           new SelectListItem{Text="Asp.Net MVC",Value="2"},
           new SelectListItem{Text="LINQ",Value="3"},
           new SelectListItem{Text="Angular",Value="4"},
           new SelectListItem{Text="JQuery",Value="5"},
           new SelectListItem{Text="AJAX",Value="6"}

        })

        </td>
    </tr>
    <tr class="bg-danger">
        <td>Populating with ViewData</td>
        <td>@Html.DropDownList("myskills", (IEnumerable<SelectListItem>)ViewData["data"])</td>

    </tr>

    <tr class="bg-danger">
        <td>Populating with ViewBag</td>
        <td> @Html.DropDownList("myskills", (IEnumerable<SelectListItem>)ViewBag.skills)</td>

    </tr>

    <tr class="bg-danger">
        <td>Populating with TempData</td>
        <td>@Html.DropDownList("myskills", (IEnumerable<SelectListItem>)TempData["MySkills"])</td>

    </tr>
    @Html.DropDownList("departments", (IEnumerable<SelectListItem>)ViewData["Departments"])


</table>

