<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @{ 
            var Myview = Html.Partial("_MyView2");//output as string
            Myview = new MvcHtmlString(Myview.ToString() + "<h2>my view is looking</h2>");

        }
        @Myview
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <h2>hiii ,dear</h2>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
