
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Employee", FormMethod.Post))

{@Html.AntiForgeryToken()
<table>
    <tr>
        <td>
            Fullname:
        </td>
        <td>
            @Html.TextBox("Fullname")
        </td>
    </tr>

    <tr>
        <td>Gender</td>
        <td>
            @Html.DropDownList("Gender", new List<SelectListItem>
       {
           new SelectListItem{Text="Male",Value="Male"},
           new SelectListItem{Text="Female",Value="Female"}
       }, "Select Gender ", new { @class = "form-control" })

        </td>
    </tr>

    <tr>
        <td>Age</td>
        <td>@Html.TextBox("Age")</td>
    </tr>
    <tr>
        <td>EmailAddress</td>
        <td>@Html.TextBox("Email")</td>
    </tr>

    <tr>
        <td>Date of Joining</td>
        <td>@Html.TextBox("DOJ")</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>@Html.TextBox("Salary")</td>
    </tr>


    <tr>

        <td colspan="2" align="center"><input type="submit" value="submit" /></td>
    </tr>
</table>

}
